-var name_1;
-var out;
-var stat
-if(name=='未登录'){
-name_1='请先登录再发言！';
-stat=1;
-}else{
-name_1=name;
-stat=0;
-}
html
  head
  body
    form(action='/content', method='post')
      input(type='hidden', name='username', value=name_1)
      label 你的评论：
      input(type='textarea', name='contents')
      input(type='submit',disabled=stat)
